<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>makoto_kw</string>
	<key>Builder Version</key>
	<string>7534.55.3</string>
	<key>CFBundleDisplayName</key>
	<string>World Clocks</string>
	<key>CFBundleIdentifier</key>
	<string>com.makotokw.safari.worldclocks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>300</real>
				<key>Identifier</key>
				<string>clocksPopover</string>
				<key>Width</key>
				<real>400</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbar-worldclocks</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>WordClocks</string>
				<key>Popover</key>
				<string>clocksPopover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
</dict>
</plist>
