@use "../common/styles/variables" as *;
@use "../common/styles/mixins" as *;

@font-face {
  font-family: $font-family-digital;
  src: url('/src/common/fonts/Days.otf');
}

body {
  background-color: #fff;
  color: $color-text;
  font-size: 0.7em;
  font-style: normal;
}

ul#clocks {
  list-style: none;
  padding: 0;
  margin: 0;

  &.analog {
    padding-right: 2px;
  }

  &.edit_mode {
    .city {
      border: 1px solid $color-border;
      @include border-radius(3px);
      padding: 4px;
      margin: 2px;
    }

    li.clock .remove {
      display: block;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}

li.clock {
  position: relative;
  display: inline-block;

  span {
    display: block;
    text-align: center;
    height: 1.1em;
    line-height: 1.1em;

    &.city {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 2px;
    }

    &.digital_clock,
    &.date {
      margin-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      font-family: $font-family-digital;
    }

    &.digital_clock {
      font-weight: bold;
      font-size: 10px;
    }
  }

  input {
    line-height: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;

    &.dst {
      display: inline;
      width: auto;
      margin: 2px;
    }
  }

  select {
    line-height: 1em;
    font-size: 0.7em;
    padding: 0;
    width: 100%;
    margin: 2px;
  }

  .close {
    position: absolute;
    top: -8px;
    right: -12px;
    display: none;
  }

  .remove {
    display: none;
  }
}

/* options */

legend {
  font-size: 12px;
  line-height: 2em;
  margin-bottom: 6px;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

#option_header {
  min-height: 0;
  padding: 4px;
  text-align: center;
  margin-bottom: 0;

  a {
    outline: none;
    text-decoration: none;
  }
}

#option_label {
  margin: 0 auto;
}

.option_content {
  min-height: 0;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 5px;
  display: none;

  a {
    outline: none;
    text-decoration: none;
  }

  input[type="number"],
  select {
    width: 95%;
    display: inline-table;
  }
}

.control_group {
  & > label:first-child {
    width: 50px;
  }

  .controls {
    margin-left: 60px;
  }
}

#add {
  width: 100%;
  margin-bottom: 10px;
  display: inline-table;
}

#footer {
  clear: both;
}
